# ESCOLAS TPAD

## Nesta atividade, descobriremos o número de escolas da cidade de João Pessoa, após juntar os DataFrames disponíveis

In [4]:
# Lendo os DataFrames com o pandas:

import pandas as pd

#DF1:

df1 = pd.read_csv("../dados/EDUCAÇÃO/fato_rendimento_escolar.csv", sep = "|", encoding = "latin", skiprows = 5).drop_duplicates()
df1.columns =["Ano", "Código da Escola", "TAxa de Abandono no Ensino Médio (%)"]

#DF2:

df2 = pd.read_excel("../dados/EDUCAÇÃO/dim_escola.xlsx", sheet_name= "dados", header= 0).drop_duplicates()

# Aqui, mudei alguns dados com o método map, para facilitar a leitura e análise:

dicio1 = {1: "Federal", 2: "Estadual", 3: "Municipal"}
dicio2 = {1: "Urbana", 2: "Rural"}
dicio3 = {1: "Em Atividade", 2: "Paralisada", 3: "Extinta (Ano do censo)", 4: "Extinta em anos anteriores"}

df2["cod_rede"] = df2["cod_rede"].map(dicio1)
df2["localizacao"] = df2["localizacao"].map(dicio2)
df2["situacao_funcionamento"] = df2["situacao_funcionamento"].map(dicio3)

#DF3: 

df3 = pd.read_csv("../dados/EDUCAÇÃO/dtb_municipios.csv", sep = ";", encoding = "latin").drop_duplicates()

In [12]:
# Realizando a junção dos DataFrames com o método Merge, utilizando o inner com how.

df_new = (
    df1.merge(df2, how = "inner", left_on = "Código da Escola", right_on = "cod_escola", indicator = "merge_df2")
          .merge(df3, how = "inner", left_on = "cod_mundv", right_on = "cod_mundv" , indicator = "merge_df3")
          )

df_new

,Ano,Código da Escola,TAxa de Abandono no Ensino Médio (%),cod_escola,cod_mundv,cod_rede,localizacao,nome_escola,situacao_funcionamento,merge_df2,...,nome_regiao,cod_uf,nome_uf,cod_meso,nome_meso,cod_micro,nome_micro,cod_mun,nome_mun,merge_df3
0,2014,25000047,-,25000047,2502003,Estadual,Urbana,ECI NOSSA SENHORA DA CONCEICAO,Em Atividade,both,...,Nordeste,25,Paraíba,2501,Sertão Paraibano,25001,Catolé do Rocha,250200,Belém do Brejo do Cruz,both
1,2015,25000047,"13,2",25000047,2502003,Estadual,Urbana,ECI NOSSA SENHORA DA CONCEICAO,Em Atividade,both,...,Nordeste,25,Paraíba,2501,Sertão Paraibano,25001,Catolé do Rocha,250200,Belém do Brejo do Cruz,both
2,2016,25000047,"12,7",25000047,2502003,Estadual,Urbana,ECI NOSSA SENHORA DA CONCEICAO,Em Atividade,both,...,Nordeste,25,Paraíba,2501,Sertão Paraibano,25001,Catolé do Rocha,250200,Belém do Brejo do Cruz,both
3,2017,25000047,"5,5",25000047,2502003,Estadual,Urbana,ECI NOSSA SENHORA DA CONCEICAO,Em Atividade,both,...,Nordeste,25,Paraíba,2501,Sertão Paraibano,25001,Catolé do Rocha,250200,Belém do Brejo do Cruz,both
4,2018,25000047,"10,8",25000047,2502003,Estadual,Urbana,ECI NOSSA SENHORA DA CONCEICAO,Em Atividade,both,...,Nordeste,25,Paraíba,2501,Sertão Paraibano,25001,Catolé do Rocha,250200,Belém do Brejo do Cruz,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3509,2017,25152823,"12,6",25152823,2500577,Estadual,Urbana,EEEFM EUCLIDES MOUZINHO SANTOS,Em Atividade,both,...,Nordeste,25,Paraíba,2503,Agreste Paraibano,25012,Curimataú Ocidental,250057,Algodão de Jandaíra,both
3510,2018,25152823,"7,5",25152823,2500577,Estadual,Urbana,EEEFM EUCLIDES MOUZINHO SANTOS,Em Atividade,both,...,Nordeste,25,Paraíba,2503,Agreste Paraibano,25012,Curimataú Ocidental,250057,Algodão de Jandaíra,both
3511,2019,25152823,0,25152823,2500577,Estadual,Urbana,EEEFM EUCLIDES MOUZINHO SANTOS,Em Atividade,both,...,Nordeste,25,Paraíba,2503,Agreste Paraibano,25012,Curimataú Ocidental,250057,Algodão de Jandaíra,both
3512,2020,25152823,0,25152823,2500577,Estadual,Urbana,EEEFM EUCLIDES MOUZINHO SANTOS,Em Atividade,both,...,Nordeste,25,Paraíba,2503,Agreste Paraibano,25012,Curimataú Ocidental,250057,Algodão de Jandaíra,both
3513,2021,25152823,0,25152823,2500577,Estadual,Urbana,EEEFM EUCLIDES MOUZINHO SANTOS,Em Atividade,both,...,Nordeste,25,Paraíba,2503,Agreste Paraibano,25012,Curimataú Ocidental,250057,Algodão de Jandaíra,both

In [15]:
# Realizando a query, para analisar apenas os municípios com nome João Pessoa 

data = df_new.query("nome_mun == 'João Pessoa'")

# Com o método unique, eliminamos as duplicatas, criando uma array, e
# com o size, descobrimos o tamanho da array criada.
data["nome_escola"].unique().size

63